/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    --beige:#dfd9d6;
    --RecetteBG: #3c4b52;
    --input: #5c747c7a;
    --H1BG: #4b6571;
    --box-color: #bad8efbc;
    --terra: #b08035; 
    --bg-color: #5c747cb4;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--bg-color);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--bg-color);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--bg-color);
}
body, html {
    background-color: var(--bg-color);
    color: var(--box-color);
    font-family: 'News Cycle';
    font-size: 20px;
}
body a {
    color: inherit;
}

header {
    background-color: var(--box-color);
    height: 80px;
    color: var(--bg-color);
}

.NavBar {
    display: inline-flex;
    align-items: center;
    text-align: center;
}

.NavBar a:first-child {
    padding: 10px 50px;
}


.NavBar a span {
    font-size: 50px;
}

.NavBar a:hover {
    background-color: var(--bg-color);
    color: var(--box-color);
}

.NavBar a:first-child:hover {
    background-color: var(--box-color);
    color: var(--bg-color);
}

#SearchBarInput {
    background-color: var(--input);
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    box-shadow: 1px 5px 10px -5px var(--darkbeige);
    color: var(--bg-color);
    font-family: inherit;
}

main {
    margin: 70px 0;
}

.ReceipeAdd {
    background-color: var(--box-color);
    color: var(--bg-color);
    width: 500px;
    margin: 40px auto; 
    padding: 50px;
    border-radius: 10px;
}

.ReceipeAdd label {
    margin: 20px 0;
}

.ReceipeAdd input {
    padding: 5px;
    background-color: var(--input);
    border: none;
    border-radius: 15px;
    margin: 20px 0;
    width: 80%;
    box-shadow: 1px 5px 10px -5px var(--darkbeige);
    color: var(--bg-color);
    font-family: inherit;
}

.ReceipeAdd input:focus, #SearchBarInput {
    outline: none;
    color: var(--bg-color);
}

.ReceipeAdd fieldset {
    margin: 20px 0;
}
legend {
    margin: 10px 0;
}

.ReceipeAdd button {
    margin: 20px auto 0px 0px;
    background-color: var(--bg-color);
    color: var(--box-color);
    font-family: inherit;
    font-size: .8rem;
    padding: 10px 20px;
    border: 1px solid var(--bg-color);
    border-radius: 10px;
}

.ReceipeAdd button:hover {
    background-color: var(--box-color);
    color: var(--bg-color);
    cursor: pointer;
}

#Quantity, #Part {
    width: 50px;
}

#Part {
    margin-right: 5px;
}

#measure, #difficultyradio, #PartDropdown {
    width: 100px;
    background-color: var(--input);
    font-size: 0.7rem;
    font-family: inherit;
    color: #3c4b52c6;
    padding: 0 8px 3px;
    border: none;
    border-radius: 5px;
    align-items: center;
    box-shadow: 1px 5px 10px -5px var(--darkbeige);
    outline: none;
}

#difficultyradio {
    margin: 0 20px;
}
#IngredientName {
    width: 230px !important;
}

#IngredientList {
    font-size: .7rem;
    margin-top: 20px;
    display: flex;
    font-style: italic;
    overflow: scroll;
}

#IngredientList li {
    padding: 10px;
    border-radius: 5px;
    background-color: var(--input);
    margin: 0 5px;
}

#IngredientList li:hover {
    border: 2px solid var(--RecetteBG);
    cursor: pointer;
}

#StepsList {
    margin: 10px 0 ;
    font-size: .8rem;
    list-style: decimal;
}

#StepsList li {
    padding: 5px 0;
}

#StepsList li:hover {
    border: 2px solid var(--RecetteBG);
    cursor: pointer;
}

#AddReceipebtn {
    background-color: var(--RecetteBG);
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    padding: 20px;
}

#AddReceipebtn:hover {
    box-shadow: 3px 3px 10px 0px var(--bg-color);
    background-color: var(--box-color)
}

.RecettesGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
    column-gap: 3%;
    row-gap: 5px;
    width: 80%
}

@media only screen and (max-width:425px){
    .RecettesGrid {
        grid-template-columns: auto;
        gap: 10px;
        width: 90%;
    }
    .ReceipeAdd {
        width: 70%;
        padding: 30px 20px;
    }
    .ReceipeAdd label {
        margin: 0;
    }
    .ReceipeAdd input {
        width: 70%
    }
    #Quantity {
        width:30px;
    }
    #IngredientName {
        width: 30% !important;
    }
    #StepText {
        width: 90%;
    }
    .NavBar {
        height: inherit;
    }
    
}

.RecetteDiv {
    background-color: var(--RecetteBG);
    margin: 20px 0;
    color: var(--box-color);
    padding: 20px 20px;
    align-items: center;
    border-radius: 10px;
    font-size: .9rem;
}

.RecetteDiv h1 {
    background-color: var(--H1BG);
    text-align: center;
    font-size: 1.3rem;
    margin: 20px 20px 20px 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 15px;
}

.RecetteDiv p {
    text-align: center;
}

.RecetteDiv ol {
    list-style: decimal;
    padding-left: 50px;
    text-align: justify;
}
.RecetteDiv li {
    padding-bottom: 10px;
}
.RecetteDiv li::marker {
    font-size: 0.9em;
}

.RecetteDiv ul {
    padding-left: 60px;
}

.TagsLiItem {
    display: inline-flex;
    padding: 10px;
    margin: 0 5px 10px;
    font-size: 0.8rem !important;
    background-color: var(--box-color);
    color: var(--RecetteBG);
    align-items: center;
    border-radius: 15px;
    font-style: italic;
}

.TagsLiItem span {
    padding: 0 0 0 10px !important;
    font-size:1.3rem !important;
    FILL:0;
}

#SearchBar {

}

#SearchBarInput{
    position: absolute;
}

#AllReceipeName {
    background-color: var(--box-color);
    color: var(--bg-color);
    text-align: left;
    display: none;
    position: absolute;
    padding: 10px;
    border-radius: 0px 15px 5px 15px;
    font-size: .7rem;
    max-height: 100px;
    overflow: scroll;
}

#ErrorMsgSearch {
    background-color: rgba(223, 150, 150, 0.978);
    padding: 15px;
    color: rgb(85, 6, 6);
    width: 25%;
    position: absolute;
    text-align: left;
    border-radius: 15px;
    font-size: .7rem;
    font-style: italic;
    display: none;
    transition: .5s linear;
}
#SearchBtn {
    position:relative;
    background-color: #32413100;
    border: none;
    right: -110px;
    bottom: -4px;
}

.Part {
    font-style: italic;
    font-size: .7rem;
}